.hidden {
  display: none;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

span {
  color: white;
}

#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -73.32px;
  margin-top: -23px;
  color: hotpink;
  font-size: 40px;
}

#weather {
  position: absolute;
  top: 0;
  right: 0;
}

form {
  text-align: center;
}

#quote {
  position: absolute;
  bottom: 10%;
}

#greeting {
  position: absolute;
  top: 60%;
  left: 40%;
  color: white;
}

#todo-list {
  position: absolute;
  left: 40%;
}
